<div class="container-xl">
  <h2>Who Are We?</h2>
  <div class="slide mb-4">
    <div class="image">
      <img src="images/slide2.jpg" alt="Bakery">
    </div>
    <div>
      <p>
        The journey of Bake House began in 2002 when the first branch was opened in Maadi on Street 9. That’s when we started writing the history of Bake House and carving a big name in the production of Eastern and Western sweets as well as bakery. Later, in 2005, another branch was opened on 26th July Street in downtown.
      </p>
      <p>
        Since the very beginning, our main goal is to share with people their happiness and joy on various occasions and draw a smile on the faces of Egyptian family members by offering a variety of high-quality products.
      </p>
      <p>
        For instance, our bakery products, such as pates, croissants and Danish are always a good choice for breakfast or a quick snack. Western and Oriental sweets as well as chocolates are gifting products that are always available in every Egyptian household.
      </p>
    </div>
  </div>
  <div class="slide">
    <div>
      <p>
        When it comes to feasts and special occasions, either Eid or Mouled el Nabi, we are honored that our customers
        can always rely on us. Our production of Kahk and Halawet Mouled is characterized by craftsmanship which is the
        secret of our distinction as well as the fresh homemade savor that satisfies the Egyptian taste.
      </p>
      <p>
        In 2011, since our clients love our products and because of high demand, our ambition began to increase. That’s
        when we started our expansion plan, by distributing products such as Yameesh Ramadan, Kahk el Eid and Halawet
        Mouled in the largest supermarket and hyper market chains.
      </p>
      <p>
        To fulfill our goal to expand and be accessible to our customers all over Egypt, we began opening new stores
        starting with Mall of Arabia branch in April 2019 to the most recent one in City Center Almaza in May 2023,
        totaling up to 11 stores in the span of 4 years.
      </p>
    </div>
    <div class="image">
      <img src="images/Bakery Photo 2.jpg" alt="Bakery">
    </div>
  </div>

</div>
