<nav><a routerLink="**"></a></nav>
<div class="container">
    <div class="row"> 
    <div class="gradient  col-12 mt-2 "  >
        <p>404</p>
    </div>
    
 <div class="image  col-12"  >
<img src=".\assets\imgGallery\not-found (2).jpg"  alt="error" width="200px" height="200px" ></div>
<div class="paragraph   col-12 "  >
    <h1>opps!page not found</h1>
    <h4>we can't find the page you;re looking for </h4>
    <button class="btn btn-outline-warning mb-4" type="button" (click)="navigateTo('/home')">BACK TO HOME</button>
</div>
</div>