

/* universal style */
.universal{
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}
/* portfolio-start */

    .amarPortfolio {
        display: flex;
        align-items: center;
        background-color: #333;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        max-width: 800px;
    }
    .profile-container {
        margin-right: 20px;
    }
    .profile-img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 4px solid #fff;
    }
    .content {
        text-align: left;
    }
    .title {
        font-size: 36px;
        color: #8bc34a;
        margin: 20px 0;
    }
    .buttons {
        margin-top: 20px;
    }
    .btn {
        text-decoration: none;
        color: #fff;
        background-color: #8bc34a;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 5px;
        transition: background-color 0.3s;
    }
    .btn:hover {
        background-color: #7cb342;
    }
   /* portfolio-end */

   /* about me star */
   .aboutme{
    align-items: center;
        background-color: #333;
        padding: 20px; 
        width: 100%;
        align-items: center;
   }
   .aboutme-p{
    color: var(--white);
    font-family: sans-serif;
   }
   /* education-start */
   .education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.education-section {
    text-align: left;
    margin-bottom: 20px;
}

.education-section h2 {
    color: #8bc34a;
}

.education-section hr {
    border: 1px solid #8bc34a;
    width: 100%;
}

.education-section p {
    margin: 10px 0;
}

.image-section img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

/* Responsive design */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .education-section, .image-section {
        flex: 1;
        margin: 0 10px;
    }
    
    .education-section {
        max-width: 50%;
    }
    
    .image-section {
        max-width: 50%;
    }
}
/* education-end */