/* Header Start */
.bgImage {
  height: 30vh;
  background-image: url(../images/about.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

.bgImage::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  height: 30vh;
  width: 100%;
  position: absolute;
  z-index: 0;
}


.bgImage h1 {
  font-weight: bold;
  color: white;
  font-size: 90px;
  margin-top: 60px;
  margin-bottom: 0;
  z-index: 1000;
}

.bgImage h1 span {
  color: var(--main-color)
}

@media (max-width: 768px) {
  .bgImage h1 {
    font-size: 65px;
  }
}

/* Header End */


@media (min-width: 1200px) {
  .pagename {
    /* font-size: 60px; */
    padding-top: 20px;
  }

  .maincontent {
    font-size: 20px;
    padding-left: 1em;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .pagename {
    /* font-size: 40px; */
    text-align: center;
  }

  .secondpart {
    margin-left: 5em;
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0.5em;
  }

  .navbar-brand img {
    width: 100px;
    height: 40px;
  }

  .pagename {
    /* font-size: 50px; */
    text-align: center;
    margin-left: 0;
  }

  .secondpart {
    margin-left: 1em;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .maincontent {
    font-size: 16px;
    max-width: 100%;
  }

  div.edit {
    flex-direction: column;
  }

  .secondpart {
    padding-left: 1em;
  }
}

body {
  background-color: rgb(17, 16, 16);
}

.pagename {
  color: white;
  font-weight: 400;
  margin: auto;
  z-index: 100;
  font-size: 60px;
}

.main-color {
  color: #C5F82A;
}

.maincontent {
  max-width: 100%;
  background-color: rgb(17, 16, 16);
  color: white;
  font-size: 27px;
  font-weight: 300;
  padding-left: 1em;
  margin-top: 1em;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  bottom: 0;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .section {
    flex: 1;
  }
}

div.edit {
  display: flex;
}

.change {
  color: #C5F82A;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.list {
  color: rgb(202, 193, 193);
  font-size: 17px;
  margin-left: 5px;
  padding-top: 0;
  font-family: sans-serif;
}

.secondpart {
  color: white;
  font-size: 22px;
  margin-left: 0em;
  margin-top: 1.5em;
  font-family: sans-serif;
  font-weight: 400;
  /* Fixed incorrect weight */
}

p.articals {
  font-size: 20px;
}