body {
    background-color: rgb(17, 16, 16) !important;
}



/* start of header */

.bgImage {
    height: 30vh;
    background-image: url(../images/cart.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
}

.bgImage::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    height: 30vh;
    width: 100%;
    position: absolute;
    z-index: 0;
}


.bgImage h1 {
    font-weight: bold;
    color: white;
    font-size: 90px;
    margin-top: 60px;
    margin-bottom: 0;
    z-index: 1000;
}

.bgImage h1 span {
    color: var(--main-color)
}

/* end of header */

.titleCart {
    color: white;
    font-size: 55px;
}

/* start of table  */


.container .table .custom-color tr {
    background-color: gray;
}


.xmark {
    padding: 12px;

}

.table-custom {
    background-color: #181818;
}


.table {
    --bs-table-color: rgb(255, 253, 253);
    --bs-table-bg: black;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #8D8D8D;
    text-align: center;
}

.table>thead {
    background-color: #8D8D8D;

}

tbody .data {
    font-weight: 800;
}

.table tr:first-child td:first-child {
    width: 180px;
}

.table tr td:nth-child(2) {
    font-family: "Bowlby One SC", serif;
    text-transform: uppercase;
}

.table tr td:nth-child(3) {
    font-family: "Bowlby One SC", serif;
}

.table img {
    width: 100%;
}

/* end of table  */

/* start of checkout */

.btn-lime {
    background-color: var(--main-color);
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
}

.btn-lime:hover {
    background-color: #181818;
    border: 1px solid var(--main-color);
    color: white;
}

.cont-btn {
    background-color: black;
    letter-spacing: 1px;
    font-size: 20px;
}

.cont-btn:hover {
    background-color: #181818;
    border: 3px solid rgb(255, 250, 250);

}

.table-custom {
    color: gray;
    background-color: black;
}

.table tr:first-child th {
    background-color: #282828;
    /* light gray */
    color: #8D8D8D;
}


/* end of checkout */