body {
    background-color: rgb(17, 16, 16);
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h1 {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 3em;
}

.content p {
    color: #8D8D8D;
    font-size: 25px;
    width: 25em;
    text-align: center;
}

.content a {
    text-decoration: none;
    color: inherit;
}

.content .back {
    color: black;
    font-size: 25px;
    padding-inline: 20px;
    padding-block: 3px;
    font-weight: bold;
    background-color: var(--main-color);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.content .back:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 2em;
    }

    .content p {
        font-size: 15px;
        width: 16em;
        margin-bottom: 4em;
    }

}