<footer>
  <div class="footer-widgets">
    <div class="container-xl">
      <div class="box res-margin">
        <div class="widget">
          <h5>Bake House</h5>
          <div class="textwidget">
            <p>
              <i class="fa-solid fa-phone" style="margin-right: 5px;"></i>
              <span> 18427</span><br>
              <i class="fa-solid fa-envelope" style="margin-right: 5px;"></i>
              <a href="mailto:support@elabdfoods.com">supportbakehouse.gmail.com</a>
            </p>
            <p>
              Working hours from 09:00 AM to 11:30 PM, All Weekdays At your Service
            </p>
            <p>
              Payment Methods:
            </p>
            <div class="payment-icons">
              <i class="fa-solid fa-money-bill-wave" style="margin-right: 10px;" title="Cash"></i>
              <i class="fa-brands fa-cc-visa" style="margin-right: 10px;" title="Visa"></i>
              <i class="fa-brands fa-cc-mastercard" title="MasterCard"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="box res-margin">
        <div class="widget">
          <h5>Our Categories</h5>
          <ul class="footer-menu">
            <li><a routerLink="allProduct" routerLinkActive="active">All Products</a></li>
            <li><a routerLink="cake" routerLinkActive="active">Cake</a></li>
            <li><a routerLink="bakery" routerLinkActive="active">Bakery</a></li>
            <li><a routerLink="chocolate" routerLinkActive="active">Chocolate</a></li>
            <li><a routerLink="offers" routerLinkActive="active">Offers</a></li>
          </ul>
        </div>
      </div>

      <div class="box res-margin">
        <div class="widget">
          <h5>About Us</h5>
          <ul class="footer-menu">
            <li><a routerLink="about" routerLinkActive="active">About us</a></li>
            <li><a routerLink="contact" routerLinkActive="active">Contact Us </a></li>
            <li><a routerLink="Privacy" routerLinkActive="active">Privacy Policy</a></li>
          </ul>
        </div>
      </div>

      <div class="box">
        <div class="widget">
          <h5>Follow us</h5>
          <div class="tags clearfix">
            <a href="https://www.facebook.com/" target="_blank" title="Facebook" class="tag"><i
                class="fab fa-facebook-f fa-fw"></i></a>
            <a href="https://x.com/?lang=ar" target="_blank" title="Twitter" class="tag"><i
                class="fab fa-twitter fa-fw"></i></a>
            <a href="https://www.youtube.com/" target="_blank" title="YouTube" class="tag"><i
                class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/" target="_blank" title="LinkedIn" class="tag"><i
                class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/" target="_blank" title="Instagram" class="tag"><i
                class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
