<header>
  <div class=" align-items-center container">
    <div class="row content d-flex ">
      <h2 class="col-6">Market</h2>
      <ul class="col-6 d-flex justify-content-end align-items-center mt-3">
        <li routerLink="/products" class="product mx-lg-3 mx-md-3 mx-3">Products</li>
        <li routerLink="/cart" class="cart mx-lg-3">Carts
          <!-- <span class="badge position-absolute top-1 translate-middle badge rounded-pill bg-danger">
            99+
            <span class="visually-hidden">unread messages</span>
          </span> -->
        </li>
      </ul>
    </div>
  </div>
</header>
