$dark-color: #543310;
$alt-dark-color: #74512d;
$light-color: #f8f4e1;
$alt-light-color: #af8f6f;
$main-transition: 0.8s;
$light-background: rgba(248, 244, 225, 0.8);

.main-btn {
  border: none;
  cursor: pointer;
  color: $light-color !important;
  background-color: $dark-color !important;
  padding: 10px 24px;
  transition: background-color $main-transition;
  border-radius: 6px;
  opacity: 0.95;
  display: block;
  width: fit-content;
  margin-left: auto;
  &:hover {
    opacity: 1;
  }

  &:disabled {
    opacity: 0.8;
    color: $light-color !important;
    cursor: not-allowed;
  }
}

.btn {
  color: $light-color !important;
  background-color: $dark-color !important;
  width: 100%;
}

a {
  cursor: pointer;
}

.forget-password-container {
  width: 80%;
  margin: 30px auto; 
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: $light-background;

  h2 {
    margin-bottom: 20px;
    color: $dark-color;
    font-weight: 600;
  }

  @media (max-width: 991px) {
    width: 95%;
    padding: 28px;
    & > h2 {
      font-size: 52px !important;
    }
  }

  @media (max-width: 767px){
    width: 100%;
    padding: 20px;
    & > h2 {
      font-size: 42px !important;
    }
  }

  @media (max-width: 399px) {
    padding: 15px 10px;
    & > h2 {
      font-size: 36px !important;
    }
  }
}


.modal-title,
.modal-body{
  color: $dark-color;
}

.modal-body{
  font-size: 18px;
}