<div class="forget-password-container">
    <h2>Reset Password</h2>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      
      <!-- Email Field -->
      <mat-form-field class="w-100">
          <input type="email" matInput formControlName="email" placeholder="Enter your email">
          <!-- Email Validation Messages -->
          <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('email') && !forgetPasswordForm.get('email')?.hasError('required')">
            Please enter a <strong>valid</strong> email address
          </mat-error>
          <mat-error *ngIf="forgetPasswordForm.get('email')?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <button type="submit" [disabled]="forgetPasswordForm.invalid" class="main-btn">Send</button>
        <!-- Modal if login failed-->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title fs-5 m-0" id="staticBackdropLabel">Reset Password</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                {{message}}
              </div>
              <div class="modal-footer">
                <button type="button" class="main-btn" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="form-group"> -->
        <!-- <label for="email">Email</label> -->
        <!-- <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email" /> -->
        <!-- <div *ngIf="submitted && f['email'].errors" class="error-message">
          <div *ngIf="f['email'].errors['required']">Email is required.</div>
          <div *ngIf="f['email'].errors['email']">Please enter a valid email.</div>
        </div> -->
      <!-- </div> -->
      <!-- <button type="submit" class="main-btn">Send Reset Link</button> -->
      <!-- <div *ngIf="message" class="success-message">{{ message }}</div> -->
    </form>
  </div>
  