<h1>Librarian Dashboard</h1>



<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register" asp-route-userType="Member">Register Member</a>

<a class="nav-link text-dark" asp-area="" asp-controller="BookSearch" asp-action="Index">Book Search</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Borrow" asp-action="Index"> borrow </a>
<a class="nav-link text-dark" asp-area="" asp-controller="ReturnBook" asp-action="Index">ReturnBookService</a>
