@model LoginViewModel


<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <!-- Title -->
                <h3 class="text-center mb-4">Login</h3>

                <!-- Login Form -->
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label">Username:</label>
                        <input class="form-control" asp-for="UserName" type="text" />
                        <span asp-validation-for="UserName"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Password:</label>
                        <input class="form-control" asp-for="Password" type="password" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <!-- Remember me checkbox -->
                    <div class="form-check">
                        <input class="form-check-input primary" type="checkbox" asp-for="RememberMe">
                        <label class="form-check-label text-dark">
                            Remember Me
                        </label>
                    </div>
                    <br />
                    
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-dark w-100">Login</button>
                </form>

            </div>
        </div>
    </div>
</div>