@model MobiStore.Models.Category

<h1>Edit Category</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedAt" />


    <div class="row mb-3">
        <label class="col-sm-4 col-form-label">Name</label>
        <div class="col-sm-8">
            <input class="form-control" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="offset-sm-4 col-sm-4 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-4 d-grid">
            <a class="btn btn-outline-primary" asp-controller="Categories" asp-action="Index" role="button">
                Cancel
            </a>
        </div>
    </div>
</form>
