html,
body {
  width: 100%;
  font-family: "Roboto Mono", monospace;
}

body {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative; */
  padding-inline: 0;
  margin-inline: 0;
  background-color: #FEFAE0;
}
a{
  color: black;
  text-decoration: none !important;
}
ul{
  list-style: none;
}
ul{
  padding: 0 !important;
  margin: 0 !important;
}
p{
  margin: 0 !important;
  padding: 0 !important;
  padding-bottom: 10px !important;
}
.container{
  width: 99%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative; 
  visibility: hidden;
}
.scene {
  perspective: 800px;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform: translateZ(-100px);
  transform-style: preserve-3d;
  /* Only the box rotates, not the faces */
  animation: rotateAnimation 6s infinite ease-in-out;
}

.box__face {
  position: absolute;
  width: 200px;
  height: 200px;
  font-size: 120px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  border: 1px solid #000;
  /* Keep faces static with their original positions */
  transform-style: preserve-3d;
}

.box__face.front {
  transform: rotateY(0deg) translateZ(100px);
  background: #2f2e2e;
}

.box__face.back {
  transform: rotateY(180deg) translateZ(100px);
  background: #2f2e2e;
}

.box__face.right {
  transform: rotateY(90deg) translateZ(100px);
  background: #2f2e2e;
}

.box__face.left {
  transform: rotateY(-90deg) translateZ(100px);
  background: #2f2e2e;
}

.box__face.top {
  transform: rotateX(90deg) translateZ(100px);
  background: #2f2e2e;
  font-size: 60px !important;
}

.box__face.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background: #2f2e2e;
}

/* Keyframes only rotating the box */
@keyframes rotateAnimation {
  0% {
    transform: rotateX(0deg) rotateY(0deg); /* Front */
  }
  16.66% {
    transform: rotateX(90deg) rotateY(0deg); /* Top */
  }
  33.33% {
    transform: rotateX(180deg) rotateY(0deg); /* Back */
  }
  50% {
    transform: rotateX(270deg) rotateY(0deg); /* Bottom */
  }
  66.66% {
    transform: rotateX(0deg) rotateY(90deg); /* Right */
  }
  83.33% {
    transform: rotateX(0deg) rotateY(180deg); /* Back */
  }
  100% {
    transform: rotateX(0deg) rotateY(270deg); /* Left */
  }
}

.shadow {
  position: absolute;
  z-index: -1;
  left: -50px;
  top: calc(100% - 20px);
  width: calc(100% + 100px);
  height: 30px;
  border-radius: 50%;
  background: #000;
  filter: blur(20px);
}

.desc {
  margin-top: 60px;
  text-align: center;
}

.desc h2 {
  margin: 0;
  font-size: 26px;
}

.desc button {
  border: 2px solid #130d1a;
  background: transparent;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 13px;
  font-family: "Days One", sans-serif;
  box-shadow: 4px 4px 0 0px rgba(19, 13, 26, 0.5);
  position: relative;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
  border-radius: 0 20px;
  overflow: hidden;
}

.desc button::after {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  content: "";
  background: #130d1a;
  transition: 0.3s;
  z-index: -1;
}

.desc button:hover {
  color: #fff;
  letter-spacing: 2px;
}

.desc button:hover::after {
  height: 100%;
}

.desc button:active {
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
}


/* Footer-Start */
.footer {
  background-color: #2f2e2e;
  padding: 70px 0 0;
  position: relative;
}
  
#fot {
  transition: 1s;
  visibility: hidden;
}

.footer .img {
  text-align: center;
  transform: translateY(-30px);
}

.footer .img img {
  width: 120px;
}

@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}

.footer .container-footer {
  display: flex;
  gap: 25px;
  min-width: 250px;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  .footer .container-footer {
    display: grid;
    justify-items: center;
  }
}

.footer .Box-f {
  flex-basis: 20%;
  width: 250px;
  min-width: 250px;
  padding: 5px;
  background: #2f2e2e;
  box-shadow: 15px 15px 0 #000;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  top: -15px;
  right: 10px;
  height: max-content;
  color:#edece4;
}

.footer .Box-f:hover {
  transform: scale(1.05);
  box-shadow: 20px 20px 0 #000;
}

.footer .Box-f .logo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #FEFAE0;
  text-align: center;
}

.footer .Box-f .social {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .footer .Box-f .social {
    justify-content: center;
  }
}

.footer .Box-f .social li {
  margin-right: 12px;
}

.footer .Box-f .social li a {
  background-color: #313131;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.Box-f .social  .facebook:hover {
  background-color: #0866ff;
  color: white;
}

.Box-f .social .linkedin:hover {
  background-color: #0657a7;
  color: white;
}

.Box-f .social  .instagram:hover {
  background-color: #c63232;
  color: white;
}

.Box-f .social  .twitter:hover {
  background-color: black;
  color: white;
}

.footer .container-footer .text {
  line-height: 1.8;
  opacity: 0.8;
  color:#edece4;
}

.footer .Box-f .links li {
  padding: 15px 0;
  transition: 0.2s ease-in-out;
}

.footer .Box-f .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .Box-f .links a {
  display: block;
  color:#edece4;
  transition: 0.2s ease-in-out;
}

.footer .Box-f .links a:hover {
  color: white;
  padding-left: 15px;
}

.footer .Box-f .links .arb:hover {
  color: #fdf6cc;
}

.footer .Box-f .links .eng:hover {
  color: #fdf6cc;
  
}
/*  */
.links .Books {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  flex-direction: column;
}


.footer .Box-f .linf {
  display: flex;
  align-items: center;
  color:#edece4;
  margin-bottom: 30px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

.footer .Box-f .linf:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .Box-f .linf:hover {
  transform: translateX(10px);
  color: #fff;
}

@media (max-width: 767px) {
  .footer .Box-f .linf {
    flex-direction: column;
  }
}

.footer .Box-f .linf i {
  font-size: 25px;
  color: #b9b9b9;
  margin-right: 10px;
}

.footer .Box-f .linf:last-child {
  margin: 0;
}

@media (max-width: 767px) {
  .footer .Box-f .linf i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.footer .Box-f .linf .info {
  line-height: 1.5;
  cursor: pointer;
  flex: 1;
}

/* Footer Carf */
.footer .container-footer .carf {
  width: 250px;
  padding: 10px;
  background: #FEFAE0;
  box-shadow: 15px 15px 0 #000;
  transform: rotate(-2deg);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  top: -15px;
  right: 10px;
  cursor: pointer;
}

.footer .container-footer .carf:active {
  animation: shake 0.5s ease-in-out;
}

.footer .container-footer .carf:hover {
  transform: rotate(0deg) scale(1.02);
  box-shadow: 20px 20px 0 #000;
}

.footer .container-footer .carf .banner {
  position: absolute;
  top: 3px;
  right: -95px;
  background: #000;
  color: #fff;
  padding: 15px;
  width: 285px;
  text-align: center;
  transform: rotate(45deg);
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  overflow: hidden;
  transition: background 0.5s ease;
}

.footer .container-footer .carf .banner-text {
  display: inlinf-block;
  transition: opacity 0.5s ease, transform 0.5s ease;
  width: 100%;
  position: absolute;
  font-size: 11px;
  left: 9%;
  top: 50%;
  transform: translateY(-50%);
}

.carf:hover .banner-text:first-child {
  opacity: 0;
  transform: translateY(-100%);
}

.carf:hover .banner-text:last-child {
  opacity: 1;
  transform: translateY(-40%);
}

.banner-text:last-child {
  opacity: 0;
  transform: translateY(60%);
}

.carf:hover .banner {
  background: red !important;
}

.footer .container-footer .carf__title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: block;
  border-bottom: 2px solid #000;
  width: 50%;
}

.footer .container-footer .carf__subtitle {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  padding-bottom: 10px;
}

.footer .container-footer .carf__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer .container-footer .carf__form input {
  padding: 12px;
  border: 4px solid #000;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  transition: all 0.3s ease;
  background-color: #fff;
  width: 211px !important;
}

.footer .container-footer .carf__form input:focus {
  outline: none;
  transform: scale(1.05);
}

.footer .container-footer .sign-up {
  border: 4px solid #000;
  background: #000;
  color: #fff;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.footer .container-footer .sign-up:hover {
  background: #fff;
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 5px 0 #000;
}

/* Form Validation */
.footer .container-footer input.error {
  border-color: red;
  background-color: #ffe6e6;
  transition: all 0.3s ease;
}

.footer .container-footer input {
  border: 2px solid #000;
  padding: 10px;
  font-size: 16px;
}

.footer .container-footer input:focus {
  outline: none;
  border-color: dodgerblue;
}
/* Footer-End */





/* Nav bar */
header {
  transform: translateY(40px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 30;
  width: 25%;
  left: 50%; /* Move the header to the center horizontally */
  transform: translate(-50%, 40px); /* Adjust for centering */
}

/* Navbar Container */
div.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  min-width: 290px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%; /* Full width for better display */
  z-index: 100; /* Higher z-index to stay above other content */
  padding-block: 7px;
  color: black !important;
  visibility: hidden;

}

/* Left Menu Icon */
.menu-icon {
  font-size: 20px;
  cursor: pointer;
}

/* Navbar title */
.navbar-title {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Courier New", Courier, monospace;
}

/* Info Icon */
.info-icon {
  font-size: 16px;
  cursor: pointer;
}

/* Dropdown Menu */
.menu-links {
  text-decoration: none;
  color: #f4d8c0;
}

#menu {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black; /* Dark transparent background */
  z-index: 1000; /* Ensure it appears above all other content */
  overflow: hidden; /* Prevent scroll inside the popover */
}

#menu-items {
  margin-left: clamp(2rem, 4vw, 40rem);
  position: relative;
  z-index: 250;
}

#menu[data-active-index="0"] > #menu-background-image {
  background-position: center 45%;
}

#menu[data-active-index="1"] > #menu-background-image {
  background-position: center 50%;
}

#menu[data-active-index="2"] > #menu-background-image {
  background-position: center 55%;
}

#menu[data-active-index="3"] > #menu-background-image {
  background-position: center 60%;
}

#menu-background-image {
  background-image: url("../Imge/RobaBookia-large\ logo.webp");
  background-position: center 40%;
  background-size: 110vmax;
  height: 100%;
  left: 0px;
  opacity: 0.15;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: 249;
}

#menu-items:hover ~ #menu-background-image {
  background-size: 100vmax;
  opacity: 0.1;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
  opacity: 1;
}

.menu-item {
  color: #f4d8c0;
  cursor: pointer;
  display: block;
  font-family: "Ibarra Real Nova", serif;
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.close {
  position: absolute;
  right: 3%;
  top: 5%;
  cursor: pointer;
  z-index: 251;
}

/* Toggle button for mobile */
.menu-icon {
  cursor: pointer;
}

/* Styling the lines for the icon */
.menu-icon span {
  display: block;
  height: 1px;
  background-color: rgb(0, 0, 0);
  margin: 5px 0;
  width: 20px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Change to black on scroll */
.scrolled .menu-icon span {
  background-color: black;
}

/* Transition for title and info-icon */
#navbarTitle,
#infoIcon span {
  color: rgb(0, 0, 0);
  transition: color 0.3s ease; /* Smooth transition */
}

/* When scrolled, change to black */
.scrolled #navbarTitle,
.scrolled #infoIcon span {
  color: black;
}

/* preloader */
.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  top: 0;
  z-index: 9999999999999999999; /* Ensure it's on top of all other content */
}

.loader .img {
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}
.pre-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}