$dark-color: #543310;
$alt-dark-color: #74512D;
$light-color: #F8F4E1;
$alt-light-color: #AF8F6F;

.navbar{
  background-color: $light-color;
  .nav-item{
    .nav-link{
      color: $dark-color;
      font-size: 22px;
    }
  }
  a.btn{
    background-color: $dark-color;
    color: $light-color;
    opacity: 0.95;
  }
  a.active-link{
    font-weight: 500;
    outline: 3px solid $alt-light-color;
    opacity: 1;
  }
  @media (max-width: 767px) {
    .nav-link{
      text-align: center;
    }
    .btns{
      a{
        width: 100%;
        margin: 0;
        &:last-child{
          margin-top: 10px !important;
        }
      }
    }
  }
}
