<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand p-0" routerLink="/">
      <img src="images/logo2.PNG" alt="Bake House Logo" style="width: 60px;">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">

      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa-brands fa-square-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
        </li>
      </ul>
      <div class="btns">
        <a class="btn me-2" href="#" role="button" routerLinkActive="active-link" routerLink="login">Log In</a>
        <a class="btn" href="#" role="button" routerLinkActive="active-link" routerLink="register">Register</a>
      </div>
    </div>
  </div>
</nav>
