.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  height: 100vh;
  background: #70e1f5;
  font-family: 'Roboto', sans-serif;
}

.single-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 70vh;
  border: solid 6px #fff;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  @media only screen and (max-width: 990px) and (min-width: 400px) {
    height: 80% !important;

  }

  @media only screen and (max-width: 450px) {
    height: 80% !important;
    width: 100%;
  }

  .left-set {
    img {
      mix-blend-mode: darken;

      @media only screen and (max-width: 990px) and (min-width: 400px) {
        width: 50% !important;
      }
    }
  }

  .right-set {
    @media only screen and (max-width: 990px) and (min-width: 400px) {
      width: 100% !important;
    }
  }

  .description {
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.right-set .name,
.right-set .subname {
  font-weight: bold;
}

.right-set .name {
  font-size: 1.4rem;
  line-height: 2rem;
}

.right-set .subname {
  font-size: 0.8rem;
  line-height: 1rem;
}

.right-set .price {
  // padding: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.right-set .description p {
  font-size: 0.9rem;
}

.right-set .color {
  margin: 1rem 0;
}

.right-set .color:after {
  content: "";
  display: block;
  clear: left;
}

.right-set .color ul li {
  width: 20px;
  height: 20px;
  border: solid 2px #aaa;
  border-radius: 4px;
  float: left;
  margin-right: 0.4rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.right-set .color ul li:nth-child(1) {
  background: #222;
}

.right-set .color ul li:nth-child(1):hover {
  border-color: #222;
}

.right-set .color ul li:nth-child(2) {
  background: crimson;
}

.right-set .color ul li:nth-child(2):hover {
  border-color: crimson;
}

.right-set button {
  width: 100%;
  height: 2rem;
  cursor: pointer;
  background: none;
  border: solid 2px #111;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: all 0.4s ease;
  margin-top: .5rem;
}

.right-set button:hover {
  background: #70e1f5;
}