.card {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 6px 0px #00000038;


  &:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
  }

  img {
    max-width: 50%;
    height: auto;
    cursor: pointer;

  }

  .card-body {
    .card-text {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
