
<footer >
    <div class="container-fluid text-center p-4 ">
        <div class="row">  
            <!-- logo -->
            <div class="col-md-3 col-12 mb-4 ">
                <img src=".\assets\imgGallery\logo.png" alt="logo" width="130px" height="200px" />
           </div>
            <!-- Follow Us Section -->
            <div class="col-md-3 col-12 mb-4">
                <h2>Follow Us</h2>
                <p>Our product is expertly crafted using high-quality materials to ensure durability and timeless appeal.</p>
                <ul class="social-icon">
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" style="width: 24px; height: 24px;">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/4/42/YouTube_icon_%282013-2017%29.png" alt="YouTube" style="width: 24px; height: 24px;">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com" target="_blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" style="width: 24px; height: 24px;">
                        </a>
                    </li>
                </ul>
            </div>

            
          <!-- Quick Links Section -->
        <div class="col-md-3 col-12 mb-4">
            <a class="navbar-brand" (click)="navigateTo('/home')" style="color:#413f40;text-transform: uppercase;font-style: italic; ">  <h2>Quick Links</h2> </a> 
            <ul class="list" >
                <li> <a class="nav-link " style="cursor:pointer" aria-current="page" (click)="navigateTo('/home')">Home</a></li>
                <li> <a class="nav-link" style="cursor:pointer" (click)="navigateTo('/about')">About</a> </li>

            </ul>
        </div>
       
        
       
           <!-- Contact Us Section -->
                <div class="col-md-3 col-12">
                    <h2>Contact Us</h2>
                    <p>Email: ecotrend&#64;gmail.com</p>
                    <p>Phone: +121 555 666 666</p>
                    <p>Address: 122 Street Elaroba, Giza</p>
                </div>
        </div>
    </div>
</footer>
   