<!-- <div class="card mt-3">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
        </div>
      </div>
      <div class="row border-top border-bottom cart-ele">
        <div class="row main align-items-center details" *ngFor="let cartItem of cartProducts; let i = index">
          <div class="col-2 img-c">
            <img class="img-fluid" src="{{ cartItem.item.image }}" />
          </div>
          <div class="col">
            <div class="row text-muted name-c">{{ cartItem.item.title }}</div>
            <div class="row category-name">{{ cartItem.item.category }}</div>
          </div>
          <div class="col amount">
            <a name="" id="" class="btn btn-primary" role="button" (click)="increaseAmount(i)">+</a>
            <input class="text-center" type="text" (change)="detectAmount()" [(ngModel)]="cartItem.quantity" min="1" />
            <a name="" id="" class="btn btn-primary" role="button" (click)="decreaseAmount(i)">-</a>
          </div>
          <div class="col price-c">{{ cartItem.item.price | currency }}</div>
          <div class="col price-c">
            {{ +cartItem.item.price * cartItem.quantity | currency }}
          </div>
          <a name="" id="" class="btn btn-primary" role="button" (click)="deleteProduct(i)">Delete</a>
        </div>
      </div>
      <div class="back-to-shop">
        <a><button type="button" class="btn btn-primary" routerLink="/product">
            Back to shop
          </button></a>
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row">
        <div class="col" style="padding-left: 0">All Items:</div>
        <div class="col text-right">{{ cartProducts.length }}</div>
      </div>
      <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0">
        <div class="col">Total Price</div>
        <div class="col text-right">{{ total }}</div>
      </div>
      <button class="btn" (click)="addNewCart()">Order Now</button>
      <button class="btn" (click)="clearCart()">Clear Cart</button>
    </div>
  </div>
</div>
<div class="alert alert-success mt-3" role="alert" *ngIf="success">
  <strong>Well Done</strong><br> Your Order is Successfully Sent
</div> -->

<div class="container px-3 my-5 clearfix">
  <!-- Shopping cart table -->
  <div class="card ">
    <div class="card-header">
      <h2>Shopping Cart</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered m-0">
          <thead>
            <tr>
              <!-- Set columns width -->
              <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
              <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
              <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
              <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
              <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#"
                  class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i
                    class="ino ion-md-trash"></i></a></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartItem of cartProducts; let i = index">
              <td class="p-4">
                <div class="media align-items-center">
                  <img src="{{ cartItem.item.image }}" class=" ui-w-40 ui-bordered mr-4" alt="">
                  <div class="media-body ">
                    <a class="d-block text-dark ms-3">{{ cartItem.item.title }}</a>

                  </div>
                </div>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">
                {{ cartItem.item.price | currency }}
              </td>
              <td class="align-middle p-4 d-flex">
                <button name="" id="" class="btn btn-primary mx-1" (click)="increaseAmount(i);enableBtn(i)">+</button>

                <input type="text" class="form-control text-center mx-1" style="width: 70px" value=""
                  (input)="detectAmount(i)" [(ngModel)]="cartItem.quantity" min="1">

                <button name="" id="" class="btn btn-primary mx-1" (click)="decreaseAmount(i);disableBtn(i)"
                  [disabled]="isDisabled">-</button>
              </td>
              <td class="text-right font-weight-semibold align-middle p-4">{{ +cartItem.item.price * cartItem.quantity |
                currency }}</td>
              <td class="text-center align-middle p-4 d-flex align-items-center">
                <a role="button" class="shop-tooltip close btn btn-danger me-1" title=""
                  (click)="deleteProduct(i)">Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- / Shopping cart table -->

      <div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
        <div class="d-flex">
          <div class="text-right mt-4 d-flex">
            <label class="text-muted font-weight-normal m-0 mx-1">All Items:</label>
            <div class="text-large mx-1"><strong>{{ cartProducts.length }}</strong></div>
            <label class="text-muted font-weight-normal m-0 mx-1">Total price:</label>
            <div class="text-large mx-1"><strong>{{ total | currency }}</strong></div>
          </div>
        </div>
      </div>

      <div class="float-right">
        <button type="button" class="btn btn-dark me-2" routerLink="/products">Back to shopping</button>
        <button type="button" class="btn btn-primary me-2" (click)="addNewCart()">Checkout</button>
        <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
      </div>
    </div>
  </div>
</div>