<div class="container-xl">
  <div class="contact-section">
    <h2>Contact Us</h2>
    <div class="content">
      <div class="contact-form">
        <form (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name" name="name" placeholder="Your Name" required>
            <mat-error *ngIf="name == ''">Please enter your name</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" type="email" placeholder="Your Email" required>
            <mat-error *ngIf="email == '' || !email.includes('@')">Please enter a valid email</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100 mb-3">
            <mat-label>Message</mat-label>
            <textarea matInput [(ngModel)]="message" name="message" placeholder="Your Message" rows="6"
              required></textarea>
            <mat-error *ngIf="message == ''">Please enter your message</mat-error>
          </mat-form-field>

          <button mat-raised-button type="submit">Send Message</button>
        </form>
      </div>

      <div class="image">
        <img src="images/CupCAke.png" alt="Contact Us" />
      </div>
    </div>
  </div>
</div>
